body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer .rss-logo {
    width: 150px;
    transition: 0.3s;
}
footer .rss-logo:hover {
    filter: invert(26%) sepia(48%) saturate(699%) hue-rotate(169deg) brightness(99%) contrast(107%);
}
footer .copyright {
    font-size: 14px;
    color: #fff;
    text-align: center;
}
footer .copyright a {
    color: #777;
}
footer .copyright a:hover {
    color: #aaa;
}
footer .copyright:before {
    content: '©';
}
footer .link {
  display: block;
    width: 150px;
    text-align: right;
    font-size: 24px;
	  text-decoration: none;
	  color: white;
	  transition: 0.3s;
}
footer .link:hover {
 	  color: #70d6ff;
}

@media (max-width: 639px) {
    header {
      padding: 0px 30px;
    }

    header h1 {
      font-size: 32px;
    }

    footer {
        height: 60px;
        justify-content: space-between;
    }
}

@media (max-width: 500px) {
    footer .link {
        width: 20vw;
    }

    footer .copyright {
        width: 50vw;
    }

    footer .rss-logo {
        width: 20vw;
    }
}

@media (max-width: 375px) {
    header {
        padding: 0.5em;
    }

    footer .copyright {
        width: 40vw;
    }
}

@media (max-width: 320px) {
    header {
        text-align: center;
    }
}

@media (min-width: 1440px) {
    .footer {
      justify-content: space-evenly;
    }
}
